trigger:
  - master

pool:
  vmImage: 'windows-2019' # AzureFileCopy task only works on Windows

# `shutter`: should be your folder name
# do not name folders with dashes as storage accounts can't have them in their name.
#
# `name`: should be the name of your app
parameters:
  - name: sbox_shutter_pages
    displayName: List of sbox shutter page configurations
    type: object
    default:
      - name: 'plum'
        shutter: 'default'
        subscription: DCD-CFTAPPS-SBOX
      - name: 'toffee'
        shutter: 'default'
        subscription: DTS-SHAREDSERVICES-SBOX

  - name: prod_shutter_pages
    displayName: List of production shutter page configurations
    type: object
    default:
      - name: 'adoption'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'iaaip'
        shutter: 'iaaip'
        subscription: DCD-CFTAPPS-PROD
      - name: 'divdn'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'divda'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'divrfe'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'divpfe'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'nfdivciv'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'sscscor'
        shutter: 'sscscor'
        subscription: DCD-CFTAPPS-PROD
      - name: 'sscstrib'
        shutter: 'sscstrib'
        subscription: DCD-CFTAPPS-PROD
      - name: 'sscstya'
        shutter: 'sscstya'
        subscription: DCD-CFTAPPS-PROD
      - name: 'cmc'
        shutter: 'cmc'
        subscription: DCD-CFTAPPS-PROD
      - name: 'cmclegal'
        shutter: 'cmclegal'
        subscription: DCD-CFTAPPS-PROD
      - name: 'pcq'
        shutter: 'pcq'
        subscription: DCD-CFTAPPS-PROD
      - name: 'lau'
        shutter: 'lau'
        subscription: DCD-CFTAPPS-PROD
      - name: 'probate'
        shutter: 'probate'
        subscription: DCD-CFTAPPS-PROD
      - name: 'managepa'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'paybubbl'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'feesregi'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'xuiwebap'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'xuimanag'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'xuiappro'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'xuiregis'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'fact'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'rpts'
        shutter: 'default'
        subscription: DCD-CFTAPPS-PROD
      - name: 'privatel'
        shutter: 'privatel'
        subscription: DCD-CFTAPPS-PROD
      - name: 'etsya'
        shutter: 'etsya'
        subscription: DCD-CFTAPPS-PROD
      - name: 'jdbureau'
        shutter: 'default'
        subscription: DTS-SHAREDSERVICES-PROD
      - name: 'jdreplyj'
        shutter: 'default'
        subscription: DTS-SHAREDSERVICES-PROD
      - name: 'pipfront'
        shutter: 'pip'
        subscription: DTS-SHAREDSERVICES-PROD
      - name: 'courttri'
        shutter: 'pip'
        subscription: DTS-SHAREDSERVICES-PROD
      - name: 'vhtestwe'
        shutter: 'default'
        subscription: DTS-SHAREDSERVICES-PROD
      - name: 'vhvideow'
        shutter: 'default'
        subscription: DTS-SHAREDSERVICES-PROD
      - name: 'vhadminw'
        shutter: 'default'
        subscription: DTS-SHAREDSERVICES-PROD
      - name: 'sptribsf'
        shutter: 'sptribsf'
        subscription: DCD-CFTAPPS-PROD
      - name: 'portal'
        shutter: 'default'
        subscription: DTS-SHAREDSERVICES-PROD

stages:
  - stage: "Sbox"
    displayName: "Sbox copy files"
    jobs:
      - ${{ each parameter in parameters.sbox_shutter_pages }}:
          - job: "${{ parameter.name }}_sbox"
            steps:
              - task: AzureFileCopy@3
                displayName: "${{ parameter.name }} - sbox copy files"
                inputs:
                  SourcePath: '${{ parameter.shutter }}'
                  azureSubscription: '${{ parameter.subscription }}'
                  Destination: 'AzureBlob'
                  storage: 'hmcts${{ parameter.name }}shuttersbox'
                  ContainerName: '$web'

  - ${{ each parameter in parameters.prod_shutter_pages }}:
      - stage: "${{ parameter.name }}"
        displayName: "${{ parameter.name }} - copy shutter files to storage account"
        condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
        dependsOn: Sbox
        jobs:
          - job:
            steps:
              - task: AzureFileCopy@3
                displayName: "${{ parameter.name }} - prod copy files"
                inputs:
                  SourcePath: '${{ parameter.shutter }}'
                  azureSubscription: '${{ parameter.subscription }}'
                  Destination: 'AzureBlob'
                  storage: 'hmcts${{ parameter.name }}shutterprod'
                  ContainerName: '$web'
