trigger:
- master

pool:
  vmImage: 'windows-2019' # AzureFileCopy task only works on Windows

# `shutter`: should be your folder name
# do not name folders with dashes as storage accounts can't have them in their name.
#
# `name`: should be the name of your app
strategy:
  matrix:
    iaaip:
      name: 'iaaip'
      shutter: 'iaaip'
    divdn:
      name: 'divdn'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    divda:
      name: 'divda'
      shutter: 'default'
      subscription:
    divrfe:
      name: 'divrfe'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    divpfe:
      name: 'divpfe'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    sscscor:
      name: 'sscscor'
      shutter: 'sscscor'
      subscription: DCD-CFTAPPS-PROD
    sscssya:
      name: 'sscstrib'
      shutter: 'sscstrib'
      subscription: DCD-CFTAPPS-PROD
    sscstya:
      name: 'sscstya'
      shutter: 'sscstya'
      subscription: DCD-CFTAPPS-PROD
    cmc:
      name: 'cmc'
      shutter: 'cmc'
      subscription: DCD-CFTAPPS-PROD
    cmclegal:
      name: 'cmclegal'
      shutter: 'cmclegal'
      subscription: DCD-CFTAPPS-PROD
    wwwccd:
      name: 'wwwccd'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    pcq:
      name: 'pcq'
      shutter: 'pcq'
    probate:
      name: 'probate'
      shutter: 'probate'
      subscription: DCD-CFTAPPS-PROD
    managepa:
      name: 'managepa'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    paybubbl:
      name: 'paybubbl'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    feesregi:
      name: 'feesregi'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    xuiwebap:
      name: 'xuiwebap'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    xuimanag:
      name: 'xuimanag'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    xuiappro:
      name: 'xuiappro'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    xuiregis:
      name: 'xuiregis'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    fact:
      name: 'fact'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    nfdiv:
      name: 'nfdiv'
      shutter: 'default'
      subscription: DCD-CFTAPPS-PROD
    juror-bureau:
      name: 'jdbureau'
      shutter: 'default'
      subscription: DTS-SHAREDSERVICES-PROD
    juror-bureau:
      name: 'jdpublic'
      shutter: 'default'
      subscription: DTS-SHAREDSERVICES-PROD

steps:
- task: AzureFileCopy@3
  displayName: "Plum - Sbox Copy files"
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  inputs:
    SourcePath: 'default'
    azureSubscription: 'DCD-CFTAPPS-SBOX'
    Destination: 'AzureBlob'
    storage: 'hmctsplumshuttersbox'
    ContainerName: '$web'
- task: AzureFileCopy@3
  displayName: "$(name) - Prod Copy files"
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  inputs:
    SourcePath: '$(shutter)'
    azureSubscription: '$(subscription)'
    Destination: 'AzureBlob'
    storage: 'hmcts$(name)shutterprod'
    ContainerName: '$web'
