# https://help.github.com/en/articles/about-code-owners

* @hmcts/platform-operations

# add your folders below with your github team
# one folder per line

default/ @hmcts/platform-operations
iaaip/ @hmcts/immigration-asylum
probate/ @hmcts/probate
pcq/ @hmcts/pcq
sscscor/ @hmcts/sscs
sscstrib/ @hmcts/sscs
sscstya/ @hmcts/sscs
